/* @import "settings";
@import "foundation"; */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');

// Main Colors //
$background: white;
$background: #1f2430;
$cirbsa: #003A5D;
$background: #003A5D;
$black: #242424;
$opacityNumbers: .1;

// mediaquerys breakpoints
$medium: 990px;
$small: 500px;

// Offcourse //
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

ol {
  margin: 0;
  padding: 0;
  border: 0;
}







/* HTML5 display-role reset for older browsers */

// template //
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  padding: 1rem;
}

.flex {
  display: flex;
}

.block {
  flex-grow: 1;
}

.vertical {
  flex-flow: column;
}

.align-center {
  align-items: center;
}

.button {
  cursor: pointer;
}

// Custom //
#menu {
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  padding: 1rem;
  background: $background;
  color: white;

  .logo {
    height: 80px;
    @media screen and(max-width: $small) {
      height: 50px;
    }
  }

  .fa-bars {
    font-size: 2rem;
    transition: all .1s ease;
    cursor: pointer;
    &:hover {
      font-size: 2.2rem;
      margin-right: -.1rem;
    }
  }
}

#menu2 {
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  padding: 1rem;
  background: white;
  color: $black;

  .logo {
    height: 80px;
    @media screen and(max-width: $small) {
      height: 50px;
    }
  }

  .fa-bars {
    font-size: 2rem;
    color: $cirbsa;
    transition: all .1s ease;
    cursor: pointer;
    &:hover {
      font-size: 2.2rem;
      margin-right: -.1rem;
    }
  }
}


#mainBanner {
  display: flex;
  justify-content: center;
  background: $background;
  background-image: url(../img/productosImg.jpg);
  background-size: cover;
  padding: 1rem;
  height: 30rem;
  @media screen and(max-width: $small) {
    height: 10rem;
  }
  img {
    width: 100%;
    margin-top: 4rem;
  }

  .containerx {
    width: 1300px;
  }
}

#sabemos {
  background: $background;
  background-image: url(../img/pipesBg2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding-bottom: 30rem;


  @media (max-width: 990px) {
    padding-bottom: 15rem;
    background-position-x: 50%;
    background-position-y: 20%;
  }
  @media (max-width: 630px) {
    padding-bottom: 10rem;
    background-position-x: 90%;
    background-position-y: -90%;
  }

  h2 {
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
    &:before {
      content: "01";
      font-size: 22rem;
      color: rgba($black, $opacityNumbers);
      line-height: 0;
      z-index: -1;
      position: absolute;
      right: 0rem;
      top: 5rem;
      @media screen and(max-width: $small) {
        top: 5rem;
        font-size: 14rem;
      }
    }
  }
  p {
    position: relative;
    z-index: 10;
    margin-bottom: 1.5rem;
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: .5rem 2rem;
    background: $black;
    width: auto;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
  }
}

.shadow {
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}

#anosDeExperiencia {
  padding: 4rem 0;
  overflow: visible;
  background: #DDD;
  color: $black;
  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    &:before {
      content: "02";
      font-size: 22rem;
      line-height: 0;
      color: rgba($black, $opacityNumbers);
      z-index: 0;
      position: absolute;
      right: 0rem;
      top: 1rem;
      @media screen and(max-width: $small) {
        top: 5rem;
        font-size: 14rem;
      }
    }
  }
  .videoMain {
    text-align: center;

    iframe {
      position: relative;
      z-index: 100;
      margin-top: -80%;
    }
  }
}

#calidadCertificada {
  padding: 4rem 0;
  overflow: visible;
  background: #CCC;
  color: $black;
  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    &:before {
      content: "03";
      line-height: 0;
      font-size: 22rem;
      color: rgba($black, $opacityNumbers);
      z-index: 0;
      position: absolute;
      left: 0rem;
      top: 2rem;
      @media screen and(max-width: $small) {
        top: 5rem;
        font-size: 15rem;
      }
    }
  }
}

#lideres {
  padding: 20rem 0 1rem 0;
  overflow: hidden;
  background: $background;
  color: white;
  background-image: url(../img/pipesBg3.png);
  background-position: right top;
  background-repeat: no-repeat;
  @media screen and(max-width: $small) {}

  @media (max-width: 990px) {
    padding: 10rem 0 1rem 0;
    background-position-x: 70%;
  }


  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    &:before {
      content: "04";
      font-size: 22rem;
      line-height: 0;
      color: rgba($black, $opacityNumbers);
      z-index: 0;
      position: absolute;
      right: 0rem;
      bottom: 4rem;
      @media screen and(max-width: $small) {
        top: 5rem;
        font-size: 7rem;
      }
    }
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }
}

#logos {
  padding: 1rem 0;
  overflow: hidden;
  .logosFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .logo {
      max-height: 90px;
      transition: all .3s ease;
      filter: grayscale(100%) opacity(50%);
      &:hover {
        filter: grayscale(0%) opacity(100%);
      }
      @media screen and(max-width: 800px) {
        margin-top: 1.5rem;
      }
      @media screen and(max-width: $small) {
        margin-top: 0rem;
        height: 60px;
      }
    }
  }
}

footer {
  padding: 2rem 0;
  background: $black;
  color: white;
  ul {
    list-style: none;
    padding: 0;
    .social {
      margin-top: 1rem;
      a {
        margin-right: .5rem;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    input,
    textarea {
      width: 100%;
      margin-bottom: 1rem;
      background: rgba(white, .1);
      border: 0;
      padding: .5rem;
      color: white;
    }
    input[type="text"] {
      margin-left: 1rem;
    }
  }
}

#map {
  height: 550px;
}

#contacto {
  background: $background;
  color: white;
  overflow: hidden;
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    margin-bottom: 1rem;
    background: rgba(white, .5);
    border: 0;
    padding: .5rem;
    color: $black;
    z-index: 10;
  }

  .button {
    cursor: pointer;
    position: relative;
    padding: .5rem 2rem;
    background: $black;
    width: auto;
    border-radius: 2rem;
    border: 0;
    color: white;
  }

  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
  
    &:before {
      content: "CONTACTO";
      font-size: 16.5rem;
      line-height: 0;
      color: rgba($black, $opacityNumbers);
      z-index: 0;
      position: absolute;
      right: -5rem;
      top: 9rem;
      z-index: -10;
      @media screen and(max-width: $small) {
        font-size: 5rem;
        top: 6rem;
        right: 0rem;
      }
    }
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }



  h3 {
    position: relative;
    font-size: 2rem;
    margin: 2rem 0;
    line-height: 2rem;
    z-index: 100;
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}

#distingue {
  overflow: hidden;
  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    z-index: 10;
    &:before {
      content: "PRODUCTOS";
      font-size: 10rem;
      line-height: 0;
      color: rgba($black, $opacityNumbers);
      z-index: 0;
      position: absolute;
      left: -3rem;
      top: 5rem;
      z-index: -10;
      @media screen and(max-width: $small) {
        left: 0rem;
        font-size: 4rem;
      }
    }
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }

  p {
    max-width: 700px;
  }

  .diametros {
    margin: 5rem 0 3rem;
    max-width: 100%;
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: .5rem 2rem;
    background: $black;
    width: auto;
    border-radius: 2rem;
    border: 0;
    color: white;
  }
}

#bannerProductos {
  padding: 4rem 0 3rem;
  background: url(../img/montacargas.png);
  height: 25rem;
  background-size: cover;
  background-position: center;
  img {
    max-width: 100%;
  }
  @media screen and(max-width: $medium) {
    padding: 0rem 0 1rem;
  }
  @media screen and(max-width: $small) {
    padding: 0rem 0 1rem;
    height: 10rem;
  }
}

#montacargas {
  /*  background-image: url(../img/forklift.png); */
  /* background-position: left bottom; */
  /* background-position: 15%; */
  background-repeat: no-repeat;
  /* padding-bottom: 40rem; */
  position: relative;
  /* background-size: 700px; */
  .flexShit {

    display: flex;
  }
  @media screen and(max-width: $small) {
    /* background-size: 400px; */
  }
  .forkLiftx {
    align-items: center;
    justify-content: center;
    display: flex;
    img {
      max-width: 100%;
    }
     @media screen and(max-width: $small) {
      display: none;
    }
  }

  .llegamos {
    max-width: 55%;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 0 0 1rem 3rem;
    @media screen and(max-width: $small) {
    max-width: 100%;
    }
  }
  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }
}


#sabemosAbout {
  background: $background;
  color: white;
  overflow: hidden;
  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    z-index: 10;
    color: white;
    &:before {
      content: "PRODUCTOS";
      font-size: 10rem;
      line-height: 0;
      color: rgba($black, $opacityNumbers);
      z-index: 0;
      position: absolute;
      left: -3rem;
      top: 5rem;
      z-index: -10;
      @media screen and(max-width: $small) {
        font-size: 5rem;
      }
    }
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }
  h3{
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  p {
    max-width: 700px;
  }

  .diametros {
    margin: 5rem 0 3rem;
    max-width: 100%;
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: .5rem 2rem;
    background: $black;
    width: auto;
    border-radius: 2rem;
    border: 0;
    color: white;
  }
}

#bannerAbout {
  padding: 4rem 0 3rem;
  background: $background;
  img {
    max-width: 100%;
  }
  @media screen and(max-width: $small) {
    padding: 1rem 0 1rem;
  }
  text-align: center;
}

#vision {
  background: $background;
  background-image: url(../img/pipesVision.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 30rem;
  position: relative;
  background-size: 700px;
  @media screen and(max-width: $small) {
    background-size: 400px;
    background-position-x: -200px;
    background-position-y: 150%;
  }

  @media (min-width: 1400px) {
    height: 25rem;
  }
  @media (max-width: $small) {
    height: 36rem;
    background-position-y: 100%;
  }



  .llegamos {
    max-width: 500px;
    float: right;
    padding: 1.5rem;
    color: white;
    background: rgba(0, 58, 93, .5);
    border-radius: 0 0 2rem 2rem;
  }
  h2 {
    position: relative;
    font-size: 3rem;
    margin: 2rem 0;
    line-height: 3rem;
    z-index: 10;
    color: white;
    &:after {
      content: "";
      height: 4px;
      width: 4rem;
      background: $black;
      position: absolute;
      left: 0;
      bottom: -1rem;
    }
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: .5rem 2rem;
    background: $black;
    width: auto;
    border-radius: 2rem;
    border: 0;
    color: white;
  }
}

.panel {
  width: 100vw;
  background: rgba(black, .5);
  position: fixed;
  height: 100vh;
  z-index: 1000;
  overflow: visible;
  right: -110%;
  transition: right 1s ease;
  display: flex;
  flex-direction: row-reverse;
  .menu3 {
    height: 100vh;
    background: white;
    width: 0%;
    margin: 0;
    right: -100%;
    transition: all 1s ease;
    transition-delay: .3s;
    overflow: hidden;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    img {
      max-width: 200px;
      margin-bottom: 2rem;
    }
    li {
      margin: 1rem 0;
      font-size: 2rem;
      position: relative;
      &:before {
        position: absolute;
        height: 5px;
        background: $cirbsa;
        content: "";
        bottom: 0rem;
        width: 0;
        transition: all .5s ease;
      }
      &:hover {
        &:before {
          width: 50px;
        }
      }

      a {
        text-decoration: none;
        color: $cirbsa;
        transition: all .5s ease;
        &:hover {
          letter-spacing: .1rem;
        }
      }
    }
  }
}

.showPanel {
  right: 0;
}

.showMenu {
  width: 336px !important;
}

.contactoArea {
  flex-flow: flex-wrap;
}

.vLarge {
  @media (max-width: 990px) {
    display: none;
  }
}

.vMedium {
  @media (min-width: 990px) {
    display: none;
  }
  @media (max-width: 630px) {
    display: none;
  }
}

.vSmall {

  @media (min-width: 630px) {
    display: none;
  }
}

.hide-small {

  @media (max-width: 631px) {
    display: none;
  }
}

.small-only {

  @media (min-width: 630px) {
    display: none;
  }
}

.animationMain {
  text-align: center;
}

.tubo {
  /* border-radius: 50%;
  border: 1px solid rgb(90, 90, 90);
  display: flex;
  margin: 1rem -.5rem;
  background: rgba(white, .5);
  transition: border .5s ease, background .5s ease;
  */
  margin: 0rem 1rem 1rem;
  justify-content: center;
  align-items: center;
  position: relative; 
  
  @media screen and(max-width: $small) {
    margin: -2rem .1rem 1rem;
  }

  @media screen and(max-width: $medium) {
    margin: -2rem .2rem 1rem;
  }

  &:hover {
    /* border: 2px solid black;
    background: rgba(white, .9); */
    cursor: pointer;
    z-index: 10;
    .numero {
      font-size: 120%;
      font-weight: bold;
    }

    .dropdownx {
      height: 150px;
      bottom: -150px;
      width: 100px;
      opacity: 100;
    }
  }
}

#tubo1 {
  width: 80px;
  height: 80px;
}

#tubo2 {
  width: 100px;
  height: 100px;
}

#tubo3 {
  width: 120px;
  height: 120px;
}

#tubo4 {
  width: 140px;
  height: 140px;
}

#tubo5 {
  width: 160px;
  height: 160px;
}

#tubo6 {
  width: 180px;
  height: 180px;
}

#tubo7 {
  width: 210px;
  height: 210px;
}

#tubo8 {
  width: 240px;
  height: 240px;
}

.dropdownx {
  background: rgba(white,.97);
  width: 100px;
  height: 0px;
  position: absolute;
  bottom: -15px;
  margin-top: -150px;
  transition: height .5s ease, bottom .5s ease, width .5s ease, opacity .5s ease;
  overflow: hidden;
  left: -50%;
  opacity: 0;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clasez {
  padding: .5rem 1rem;
  a {
    text-decoration: none;
    color: #003A5D;
    &:hover {
      font-weight: bold;
    }
  }
}

.containerPipes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.fuckit {
  max-width: 120%;
  margin-left: -10rem;
  margin-right: -7rem;

  @media screen and(max-width: $medium) {
    margin-left: -3rem;
    margin-right:0rem;
  }
}

.diametrosBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
    @media screen and(max-width: $small) { 
      margin-top: 0rem;
    }
    @media screen and(max-width: $medium) { 
      margin-top: 0rem;
    }
  .diametroBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: $background;
    color: white;
  
    
    @media screen and(max-width: $small) {
      height: 40px;
      width: 40px;
      font-size: 90%;
    }
  }

}
  .fichas{
    @media screen and(max-width: $small) {
      display: none;
    }
  }
  
  .fichasx{
    display: none;
    @media screen and(max-width: $small) {
      display: block;
      margin-bottom: 1.2rem;
      margin-top: -1rem;
      padding: 1rem;
    }
  }

.overflowh {
  @media screen and(max-width: $medium) {
    overflow: hidden;
  }
}

.menuFooterIcon,
.pointer{
  cursor: pointer;
}