---
name: contacto
url: /contacto
controller: contactoCtrl
---

<div ng-include="'./templates/menu2.html'"></div>
<!-- <agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="12" [scrollwheel]="false" id="map">
  <agm-marker [latitude]="latOfi" [longitude]="lngOfi"></agm-marker>
  <agm-marker [latitude]="latPlan" [longitude]="lngPlan"></agm-marker>
</agm-map> -->
<div id="map"></div>
<div id="contacto" class="shadow">
  <div class="content small-only">
    <div class="card content">
      <h3>Planta</h3>
      <div><a href="tel:8181310100"><i class="fa fa-phone"></i> (81) 8131 0100</a></div>
      <div><i class="fa fa-map-marker"></i> Carr. La Encarnación Nº 200.
        <br> Apodaca, N.L. 66600, México
      </div>
    </div>
    <div class="card content">
      <h3>Oficina</h3>
      <div><a href="tel:8180916598"><i class="fa fa-phone"></i> (81) 8091 6598</a></div>
      <div><i class="fa fa-map-marker"></i> Torre Vertice Piso #14
        <br> Av. Cto. Frida Kahlo 195
        <br> Haciendas de La Sierra
        <br> San Pedro Garza García, Nuevo León
      </div>
    </div>
  </div>
  <div class="container flex contactoArea">
    <div class="sucursales content block hide-small">
      <div class="card content">
        <h3>Planta</h3>
        <div><a href="tel:8181310100"><i class="fa fa-phone"></i> (81) 8131 0100</a></div>
        <div><i class="fa fa-map-marker"></i> Carr. La Encarnación Nº 200.
          <br> Apodaca, N.L. 66600, México
        </div>
      </div>
      <div class="card content">
        <h3>Oficina</h3>
        <div><a href="tel:8180916598"><i class="fa fa-phone"></i> (81) 8091 6598</a></div>
        <div><i class="fa fa-map-marker"></i> Torre Vertice Piso #14
          <br> Av. Cto. Frida Kahlo 195
          <br> Haciendas de La Sierra
          <br> San Pedro Garza García, Nuevo León
        </div>
      </div>
    </div>
    <div class="content block">
      <h2>MANDANOS UN MENSAJE</h2>
      <form action="" class="flex vertical" ng-submit="formsubmit()">
        <input type="text" placeholder="Nombre" ng-model="name" required>
        <input type="email" placeholder="Email" ng-model="email" required>
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje" ng-model="message"></textarea>
        <div>
          <input type="submit" class="button" value="ENVIAR">
        </div>
      </form>
      <div class="">
          {{data}}
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container flex">
    <div class="block content">
      <h2 ui-sref="home" class="pointer">CIRBSA</h2>
    </div>
  </div>
</footer>
