<footer>
  <div class="container flex">
    <div class="block content">
      <!-- <h2 ui-sref="home" class="menuFooterIcon">CIRBSA</h2> -->
      <ul>
        <li><a ui-sref="home" ui-sref-active="active">Inicio</a></li>
        <li><a ui-sref="productos" ui-sref-active="active">Productos</a></li>
        <li><a ui-sref="nosotros" ui-sref-active="active">Empresa</a></li>
        <li><a ui-sref="contacto" ui-sref-active="active">Contacto</a></li>
        <li class="social">
          <a href=""><i class="fa fa-facebook-square"></i></a>
          <a href=""><i class="fa fa-twitter-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="block content" >
      <form class="contactForm" ng-submit="formsubmit2()">
        <div class="flex align-center">Nombre:
          <input type="text" ng-model="name2" required>
        </div>
        <div class="flex align-center">Email:
          <input type="text" ng-model="email2" required>
        </div>
        <div>
          <textarea name="" id="" cols="30" rows="5" placeholder="Mensaje" ng-model="message2" required></textarea>
        </div>
        <div>
          <input type="submit" value="Enviar" class="button">
          <i class="fa fa-spinner fa-pulse" aria-hidden="true" ng-show="loading"></i>
        </div>
      </form>
      <div class="">
          {{data2}}
      </div>
    </div>
  </div>
</footer>