---
name: home
url: /
controller: mainCtrl
---
<!-- <div id="menu2">
  <div class="container">
    <img src="./assets/img/logo2.png" alt="" class="logo">
    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
  </div>
</div> -->
<div ng-include="'./templates/menu2.html'"></div>
<div id="mainBanner">
  <!-- <div class="containerx">
    <img src="./assets/img/pipesBanner.png" alt="" class="mainTubes">
  </div> -->
</div>
<div id="sabemos">
  <div class="container content">
    <h2>SABEMOS DE CONCRETO</h2>
    <p>En CIRBSA buscamos ofrecer permanentemente tuberías y accesorios de concreto de la mas alta calidad, al mejor precio del mercado, con un servicio sobresaliente.
    </p>
    <a ui-sref="productos" class="button">Ver Productos</a>
  </div>
</div>
<div class="shadow">
  <div id="anosDeExperiencia">
    <div class="videoMain">
      <iframe class="vLarge" width="960" height="400" src="https://www.youtube.com/embed/K7JX-8rRbwA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      <iframe class="vMedium" width="600" height="250" src="https://www.youtube.com/embed/K7JX-8rRbwA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      <iframe class="vSmall" width="320" height="133" src="https://www.youtube.com/embed/K7JX-8rRbwA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="content container">
      <h2>MÁS DE 50 AÑOS DE EXPERIENCIA</h2>
      <p>Somos una empresa 100% mexicana, fundada en 1962, en donde tenemos una marcada misión ecológica y asumimos a la vez nuestro compromiso social al ser participes en la creación de importantes obras de infraestructura.</p>

    <p>Estamos especializados en la fabricación y comercialización de Tubos de concreto, pozos de visita y piezas. especiales (SR, JM-JH-SCT, 6-84”)</p>

    <p>En CIRBSA somos gente joven, renovada que mantiene la solidez y compromiso de los valores con los que fue fundada la empresa. Es así que en base al esfuerzo de nuestra gente, podemos ofrecer el mejor servicio, siempre profesional y oportuno.
      </p>
    </div>
  </div>
  <div id="calidadCertificada">
    <div class="content container">
      <h2>CALIDAD CERTIFICADA</h2>
      
      <p>
        En CIRBSA seguimos trabajando en pro de la mejora continua basados en el sistema de la calidad, con ello garantizamos productos que cumplen con los requerimientos de nuestros clientes y con los más estrictos estándares internacionales, siempre en busca de una constante mejora en nuestros procesos de trabajo.
      </p>
    </div>
  </div>
</div>
<div id="lideres">
  <div class="content container">
    <h2>GENERAMOS CONFIANZA</h2>
    <p>En CIRBSA sabemos que la relación de confianza con nuestros clientes y proveedores es la base de nuestro desarrollo empresarial.
    </p>
  </div>
</div>
<div id="logos">
  <div class=" logosFlex container">
    <!-- <img src="./assets/img/logos/CFE.png" alt="" class="logo">
    <img src="./assets/img/logos/conagua.png" alt="" class="logo">
    <img src="./assets/img/logos/pemex.jpg" alt="" class="logo">
    <img src="./assets/img/logos/sct.jpg" alt="" class="logo"> -->
    <img src="./assets/img/logos/1.png" alt="" class="logo">
    <img src="./assets/img/logos/2.png" alt="" class="logo">
    <img src="./assets/img/logos/3.png" alt="" class="logo">
    <img src="./assets/img/logos/4.png" alt="" class="logo">
  </div>
</div>

<div ng-include="'./templates/footer.html'"></div>

