<div id="menu2" class="shadow">
  <div class="container">
    <a ui-sref="home"><img src="./assets/img/logo2.png" alt="" class="logo"></a>
    <i class="fa fa-bars fa-2x" aria-hidden="true" ng-click="menhu()"></i>
  </div>
</div>