---
name: nosotros
url: /nosotros
controller: mainCtrl
---
<div ng-include="'./templates/menu2.html'"></div>
<div class="" id="bannerAbout" class="">
  <div class="container">
    <iframe class="vLarge" width="960" height="400" src="https://www.youtube.com/embed/K7JX-8rRbwA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <iframe class="vMedium" width="600" height="250" src="https://www.youtube.com/embed/K7JX-8rRbwA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <iframe class="vSmall" width="320" height="133" src="https://www.youtube.com/embed/K7JX-8rRbwA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div id="sabemosAbout">
  <div class="container content">
    <h2>SABEMOS DE CONCRETO</h2>
    <p>Contamos con un equipo de ingeniería altamente capacitado para brindar asesoria técnica profesional</p>
      
    <h3>NUESTRA MISIÓN</h3>
    <p>
      Ofrecer a nuestros clientes un servicio, oportuno y ágil en el área de fabricación y comercialización de tubería Concreto con esa calidad óptima que nos caracteriza en todo momento. Trabajar con compromiso hacia nuestros clientes, en constante innovación tecnológica y respetando el medio ambiente.
    </p>
  </div>
</div>
<div id="vision">
  <div class="container content">
    <div class="llegamos">
      <h2>NUESTRA VISIÓN</h2>
      <p>
        Basados en la calidad siempre en nivel de excelencia de nuestros productos y servicios, posicionarnos como líderes en el mercado de la fabricación y comercialización de tubería de concreto, haciendo crecer nuestra gama de productos para ser proveedores únicos y cubrir todas las necesidades en sistemas de conducción de nuestros clientes. Todo esto manteniéndonos siempre en el camino de la innovación, asumiendo éste, como un compromiso corporativo que nos permita contribuir al progreso y el bien común de nuestro país.
      </p>
      <!-- <span class="button">Más Información</span> -->
    </div>
  </div>
</div>
<div ng-include="'./templates/footer.html'"></div>
