---
name: productos
url: /productos
controller: mainCtrl
---
<div ng-include="'./templates/menu2.html'"></div>
<div class="" id="bannerProductos">
  

</div>
<div id="distingue">
  <div class="container content">
    <h2>LO QUE NOS DISTINGUE</h2>
      <p>Todos los días trabajamos con la convicción de comercializar Tuberia de Conreto de la más alta calidad, garantizando el crecimiento de nuestra Organización y sus Colaboradores, sustentado en una apropiada rentabilidad.
    </p>
    <ul>
      <li>Produccion 24/7</li>
      <li>Inventarios permanentes</li>
      <li>Logistica eficiente</li>
      <li>Moderna maquinaria y laboratorios</li>
    </ul>
  </div>
  <div class="container content">
<!-- <img src="./assets/img/pipesProducts.png" alt="" class="diametros"> -->
    <!-- <img src="./assets/img/diametros.png" alt="" class="diametros">
    <a class="button">Descargar PDF</a> -->


  </div>
</div>
<div class="container">
    <div class="overflowh">
      <img class="fuckit" src="./assets/img/diametros2.png" alt="" class="mainTubes">
    </div>
    <div class="fichasx">fichas tecnicas:</div>
    <div class="diametrosBtns">
      <div class="fichas">fichas tecnicas:</div>
      <div class="tubo">
        <div class="diametroBtn">84"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/84Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/84Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/84Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/84Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">72"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/72Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/72Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/72Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/72Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">60"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/60Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/60Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/60Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/60Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">48"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/48Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/48Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/48Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/48Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">42"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/42Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/42Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/42Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/42Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">36"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/36Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/36Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/36Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/36Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">30"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/30Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/30Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/30Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/30Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>

      <div class="tubo">
        <div class="diametroBtn">24"</div>
        <div class="dropdownx">
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/24Grado1.pdf" target="_blank">Grado 1</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/24Grado2.pdf" target="_blank">Grado 2</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/24Grado3.pdf" target="_blank">Grado 3</a></div>
           <div class="clasez"><a href="http://cirbsa.com/assets/img/pdf/24Grado4.pdf" target="_blank">Grado 4</a></div>
        </div>
      </div>
    </div>

</div>

<div id="montacargas">
  <div class="container content flexShit">
    <div class="forkLiftx hide-small" >
    <img src="./assets/img/animation.gif" alt="" style="max-width: 100%">
      
    </div>
    <div class="llegamos">
      <h2>Normas de Calidad</h2>
      <p>
        En CIRBSA seguimos trabajando en pro de la mejora continua basados en el sistema de la calidad, con ello garantizamos productos que cumplen con los requerimientos de nuestros clientes y con los más estrictos estándares internacionales, siempre en busca de una constante mejora en nuestros procesos de trabajo.
      </p>
      <ul>
        <li>NMX-C402ONNCE-2011</li>
        <li>NMX-C-20</li>
        <li>N-CMT-3 02/04 SCT</li>
        <li>NOM-001-CONAGUA-2011</li>
      
      </ul>
    </div>
  </div>
</div>
<div ng-include="'./templates/footer.html'"></div>
